<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Add a New Monkey</h3>
  <form  action="/monkeys" method="post">
    <label for="type">Type of Monkey: </label>
    <input type="text" name="type"><br>
    <label for="name">Name of Monkey: </label>
    <input type="text" name="name"><br>
    <label for="color">Color of Monkey: </label>
    <input type="text" name="color"><br>
    <label for="height">Height of Monkey (inches): </label>
    <input type="text" name="height"><br>
    <label for="weight">Weight of Monkey (lbs): </label>
    <input type="text" name="weight"><br>
    <input type="submit" value="Submit">

  </form>
</body>
</html>
