<h2>Welcome to the Dojo Weather App</h2>
<div id = 'nav'>
    <ul>
        <li><a [routerLink]="['/burbank']">Burbank, CA</a></li>
        <li><a [routerLink]="['/chicago']">Chicago, IL</a></li>
        <li><a [routerLink]="['/seattle']">Seattle, WA</a></li>
        <li><a [routerLink]="['/sanjose']">San Jose, CA</a></li>
        <li><a [routerLink]="['/dallas']">Dallas, TX</a></li>
        <li><a [routerLink]="['/dc']">Washington D.C.</a></li>
    </ul>
</div>
<div id='main'><router-outlet></router-outlet></div>
