<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Submitted Information</h2>
  <p>Name: <%=person.name%></p>
  <p>Location: <%=person.location%></p>
  <p>Language: <%=person.lang%></p>
  <p>Comments: <%=person.comment%></p><br>
  <form  action="/" method="get">
    <input type="submit" value="Go Back">
  </form>
</body>
</html>
