<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="http://localhost:7077/styles/style.css" media="screen" title="no title">
  <title>New Car</title>
</head>
<body>
  <h1>Add a new car</h1>
<form>
  Make <input type="text"><br>
  Model <input type="text"><br>
  Year <input type="text"><br>
  <input type="submit" value="Add a Car">
</form>
</body>
</html>
