<div id='wrapper'>
  <div id='red'></div>
  <div id ='blue'></div>
  <div id='content'>
  <div class='section'>
    <h2>Work Experience</h2>
    <h3>John Guest USA</h3>
    <h4>Warehouse Shift Supervisor (2016-Present)</h4>
    <p>As the shift supervisor, I oversee the work of five people. I oversee all inbound and outbound frieght for a company that imports from England and exports to all of North America. I have a current forklift license, and experience with UPS Worldship and FedEx shipping manager</p>
    
    <h4>Shipping Clerk/Warehouse Associate (2016)</h4>
    <p>As the shipping clerk, I worked with customers to make sure all orders are shipped properly and in a timely manner. I also worked in the warehouse, where I picked orders to be sent to our customers. I also have a current forklift license and experience with Fed-Ex and UPS Worldship.</p>
  
    <h3>U.S. Army Reserve</h3>
    <h4>Military Police Team Leader (2012-2016)</h4>
    <p>In my military service, I led a 4 man team as with a purpose of completely tasks in the most efficient manner. In 2014, I deployed to Guantanamo Bay, Cuba in an interment/resettlement mission in support of Operation Enduring Freedom. A full list of military history can be provided upon request.</p>
  
    <h3>Plains Pharmacy</h3>
    <h4>Pharmacuetical Sales Assistant/Delivery Driver (2013-2014)</h4>
    <p>I worked with the customers to provide help and sell specific medications and products. I also delivered to products directly to the patients or doctors.</p>
  </div>
  <div class='divide'></div>
  <div class='section'>
    <h2>Education</h2>
    <h4>University of Maryland, University College</h4>
    <p>Assocaites in Computer Studies (2017)</p>

    <h4>The Coding Dojo</h4>
    <p>Completed Coding Bootcamp (2017)</p>

    <h4>SUNY Empire State College</h4>
    <p>Current Student in Computer Science</p>
  </div>
</div>
</div>